[submodule "submodules/alpine-make-vm-image"]
	path = submodules/alpine-make-vm-image
	url = https://github.com/kevin-cazal/alpine-make-vm-image.git
[submodule "submodules/vm-image"]
	path = submodules/vm-image
	url = https://github.com/kevin-cazal/shell-rpg-vm-image.git
[submodule "submodules/v86-runner"]
	path = submodules/v86-runner
	url = https://github.com/kevin-cazal/v86-runner.git
